<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Restaurant </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/front/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/front/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/front/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/front/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">
<div layout:fragment="content">
    <!-- səhifəyə xas kontent buraya gələcək -->


<div class="hero_area">
    <div class="bg-box">
        <img src="/front/images/hero-bg.jpg" alt="">
    </div>
</div>



<body>

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/front/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            FF Restoran
                        </h2>
                    </div>
                    <p>
                        Biz Fast Food Restaurant olaraq, müştərilərimizə yüksək keyfiyyətli fast food təcrübəsi yaşatmağı hədəfləmişik.

                        Menyularımız müxtəlif seçimlərlə zəngindir: burgerlər, pizzalar, pastalar və s.

                        İstifadə olunan məhsullar hər zaman təzə və keyfiyyətlidir.

                        Xidmətimiz sürətli, mühitimiz isə rahat və səmimidir.

                        Bizim üçün əsas prioritet dad, keyfiyyət və müştəri məmnuniyyətidir. Gəlin, siz də bu ləzzəti bizimlə paylaşın!
                    </p>
<!--                    <a href="">-->
<!--                        Read More-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

</body>
</div>
</body>
</html>
