<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> Restaurant </title>

    <style>
        /* Bütün .filters_menu li elementləri üçün ilkin stil */
        .filters_menu li {
            cursor: pointer; /* Kursorun düymə olduğunu göstərir */
        }

        /* Bütün linkləri (<a>) tam düymə sahəsinə yayır */
        .filters_menu li a {
            display: block;
            padding: 10px 20px;
            color: #000;
            text-decoration: none; /* Linkin altındakı xətti silir */
        }

        /* Aktiv olan düymənin (li.active) fon və kənar stilini təyin edir */
        .filters_menu li.active {
            background-color: #222;
            border-radius: 25px;
        }

        /* Aktiv olan düymənin (li.active) içindəki mətnin (a) rəngini dəyişir */
        .filters_menu li.active a {
            color: #fff;
        }
    </style>
</head>

<body>
<main layout:fragment="content">
<div class="hero_area">
    <div class="bg-box">
        <img src="/front/images/hero-bg.jpg" alt="">
    </div>

    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        FF Restaurant
                                    </h1>
                                    <p>
                                        Bizimlə yemək sadəcə qida deyil – unudulmaz bir təcrübədir.
                                        Hər boşqabı sevgi ilə hazırlayırıq, yalnız təravətli inqrediyentlərdən istifadə edirik
                                        və hər kəsin damaq zövqünə uyğun zəngin menyu təqdim edirik.
                                        İstər dostlarla əyləncəli görüş, istərsə də ailənizlə rahat yemək üçün
                                        ən doğru ünvandasınız.                                      </p>
<!--                                    <div class="btn-box">-->
<!--                                        <a href="" class="btn1">-->
<!--                                            Order Now-->
<!--                                        </a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
<!--            <div class="container">-->
<!--                <ol class="carousel-indicators">-->
<!--                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#customCarousel1" data-slide-to="1"></li>-->
<!--                    <li data-target="#customCarousel1" data-slide-to="2"></li>-->
<!--                </ol>-->
<!--            </div>-->
    </section>
        </div>

    </section>
    <!-- end slider section -->
</div>

<!-- offer section -->

    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                    <div th:each="offer : ${offers}" class="col-md-6">
                        <div class="box ">
                            <div class="img-box">
                                <img th:src="${offer.imageUrl}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5 th:text="${offer.title}">
                                    Special Offer Title
                                </h5>
                                <h6>
                                    <span th:text="${offer.discountPercentage} + '%'">0%</span> Off
                                </h6>
                                <a href="">
                                    Order Now <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                    <g><g><path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" /></g></g>
                                    <g><g><path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4C457.728,97.71,450.56,86.958,439.296,84.91z" /></g></g>
                                    <g><g><path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" /></g></g>
                                </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- end offer section -->

<!-- food section -->

    <section class="food_section layout_padding-bottom" style="margin-top: 50px;">
        <div class="container">
            <div class="heading_container heading_center">
                <h2 style="font-size: 3 rem;" >
                    Menyu
                </h2>
            </div>

            <ul class="filters_menu">
                <li th:class="${activeCategoryId == null ? 'active' : ''}">
                    <a th:href="@{/menu}">All</a>
                </li>
                <li th:each="categoryItem : ${categoryItems}"
                    th:class="${categoryItem.id == activeCategoryId ? 'active' : ''}">
                    <a th:href="@{'/menu?categoryId=' + ${categoryItem.id}}" th:text="${categoryItem.name}"></a>
                </li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    <div th:each="menuItem : ${menuItems}"
                         class="col-sm-6 col-lg-4 all pizza"
                         th:classappend="${menuItem.category}">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img th:src="${menuItem.imageUrl}" alt="" style="width: 300px; height: 400px;">
                                </div>
                                <div class="detail-box">
                                    <h5 th:text="${menuItem.name}">
                                        Delicious Item
                                    </h5>
                                    <p th:text="${menuItem.description}">
                                        Some Description
                                    </p>
                                    <div class="options">
                                        <h6 th:text="${menuItem.price + ' AZN'}"}>
                                            $20
                                        </h6>
                                        <a th:href="@{/add-to-cart(id=${menuItem.id})}">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
        <g>
            <g>
                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
           c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
            </g>
        </g>
                                                <g>
            <g>
                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
           C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
           c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
           C457.728,97.71,450.56,86.958,439.296,84.91z" />
            </g>
        </g>
                                                <g>
            <g>
                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
           c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
            </g>
        </g>
    </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-box" th:if="${!allView}">
                <a th:href="@{/menu(all=true)}">
                    Daha Çox
                </a>
            </div>
        </div>
    </section>

<!-- end food section -->


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/front/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            FF Restoran
                        </h2>
                    </div>
                    <p>
                        Biz Fast Food Restaurant olaraq, müştərilərimizə yüksək keyfiyyətli fast food təcrübəsi yaşatmağı hədəfləmişik.
                        Menyularımız müxtəlif seçimlərlə zəngindir: burgerlər, pizzalar, pastalar və s.
                        İstifadə olunan məhsullar hər zaman təzə və keyfiyyətlidir.
                        Xidmətimiz sürətli, mühitimiz isə rahat və səmimidir.
                        Bizim üçün əsas prioritet dad, keyfiyyət və müştəri məmnuniyyətidir. Gəlin, siz də bu ləzzəti bizimlə paylaşın!
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Rezervasiya
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form action="">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" />
                            </div>
                            <div>
                                <select class="form-control nice-select wide">
                                    <option value="" disabled selected>
                                        How many persons?
                                    </option>
                                    <option value="">
                                        2
                                    </option>
                                    <option value="">
                                        3
                                    </option>
                                    <option value="">
                                        4
                                    </option>
                                    <option value="">
                                        5
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button type="submit" class="btn btn-warning py-3 px-5">BOOK NOW</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.4283641921825!2d49.83069367566398!3d40.37719775804497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d0d71e9898b%3A0x2a9847f372425d29!2sIT%20Brains%20Academy-%20IT%20v%C9%99%20Proqramla%C5%9Fd%C4%B1rma%20kursu!5e0!3m2!1str!2saz!4v1757081670705!5m2!1str!2saz" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map-custom"></iframe>                    <br>

                        <div class="text-center">
                            <h4 id="countdown-title" class="mb-3">Rezervasiyanıza qalan vaxt:</h4>

                            <div id="countdown" class="d-flex justify-content-center">
                                <div class="countdown-box bg-warning text-dark mx-2">
                                    <h3 id="days" class="display-4 font-weight-bold mb-0">00</h3>
                                    <small>Gün</small>
                                </div>

                                <div class="countdown-box bg-warning text-dark mx-2">
                                    <h3 id="hours" class="display-4 font-weight-bold mb-0">00</h3>
                                    <small>Saat</small>
                                </div>

                                <div class="countdown-box bg-warning text-dark mx-2">
                                    <h3 id="minutes" class="display-4 font-weight-bold mb-0">00</h3>
                                    <small>Dəqiqə</small>
                                </div>

                                <div class="countdown-box bg-warning text-dark mx-2">
                                    <h3 id="seconds" class="display-4 font-weight-bold mb-0">00</h3>
                                    <small>Saniyə</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                <div class="map_container ">-->
                    <!--                    <div id="googleMap"></div>-->
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end book section -->


    <!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What Says Our Customers
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Moana Michell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="/front/images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                            </p>
                            <h6>
                                Mike Hamell
                            </h6>
                            <p>
                                magna aliqua
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="/front/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->


</main>

</body>
</html>




